/.quarto/
/.quarto*/
/en/.quarto*/
/_site/
.DS_Store
archives/
*.Rhistory
*.rhistory
*.rmarkdown

# Quarto artifacts generated outside the publication directory
/*.html
!/toggle-sidebar.html
/index.html
/module_*/**/*.html
/projet_session/**/*.html
/en/*.html
/en/module_*/**/*.html
/en/projet_session/**/*.html
/autre_materiel/**/*.html
/en/autre_materiel/**/*.html
/**/*_files/
/site_libs/
/en/site_libs/
/docs/site_libs 2/

**/*.quarto_ipynb
