/.quarto/
/_site/
.DS_Store
archives/
*.Rhistory
*.rhistory

# Quarto artifacts generated outside the publication directory
/index.html
/module_*/**/*.html
/en/module_*/**/*.html
/autre_materiel/**/*.html
/en/autre_materiel/**/*.html
/**/*_files/
/site_libs/
/en/site_libs/
/docs/site_libs 2/

**/*.quarto_ipynb
