[submodule "Module 2/2 - github/Aventure 2 Github vF"]
    path = Module 2/2 - github/Aventure 2 Github vF
    url = REPO_URL_AVENTURE2_GITHUB_VF
[submodule "Module 2/2 - github/aventure-2"]
    path = Module 2/2 - github/aventure-2
    url = REPO_URL_AVENTURE2
