/.quarto/
/.quarto*/
/en/.quarto*/
/_site/
.DS_Store
archives/
*.Rhistory
*.rhistory
*.rmarkdown

# Quarto artifacts generated outside the publication directory
/*.html
!/language-switch.html
/index.html
/module_*/**/*.html
!/module_08/data/*.html
/projet_session/**/*.html
/en/*.html
/en/module_*/**/*.html
!/en/module_08/data/*.html
/en/projet_session/**/*.html
/autre_materiel/**/*.html
!/autre_materiel/Aide mémoire Rstudio et Github.html
!/autre_materiel/Ou et comment chercher/ou et comment chercher.html
!/autre_materiel/Présentation des différents rôles/roles_presentation.html
!/autre_materiel/Présentation des différents rôles/roles_presentation_v2.html
/en/autre_materiel/**/*.html
!/en/autre_materiel/Aide mémoire Rstudio et Github.html
!/en/autre_materiel/Ou et comment chercher/ou et comment chercher.html
!/en/autre_materiel/Présentation des différents rôles/roles_presentation.html
!/en/autre_materiel/Présentation des différents rôles/roles_presentation_v2.html
/**/*_files/
/site_libs/
/en/site_libs/
/docs/site_libs 2/

**/*.quarto_ipynb
