.experimentation {
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.exercise {
    background-color: lightsalmon;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}
